name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-docker-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Debug image tag
        run: |
          echo "Tag will be: shashanknagvanshi/node-app:${{ secrets.ROLL_NO }}"

      - name: Log in to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Verify tag format
        run: |
          echo "Checking tag: ${{ secrets.ROLL_NO }}"
          if [[ ! "${{ secrets.ROLL_NO }}" =~ ^[a-zA-Z0-9_.-]+$ ]]; then
            echo "âŒ Invalid tag format: ${{ secrets.ROLL_NO }}"
            exit 1
          fi

      - name: Build Docker image
        run: |
           IMAGE_TAG="shashanknagvanshi/node-app:${{ secrets.ROLL_NO }}"
           echo "Building Docker image: $IMAGE_TAG"
           docker buildx build --platform linux/amd64 --load -t "$IMAGE_TAG" .

      - name: Push Docker image
        run: |
         IMAGE_TAG="shashanknagvanshi/node-app:${{ secrets.ROLL_NO }}"
         echo "Pushing image: $IMAGE_TAG"
         docker push "$IMAGE_TAG"


      - name: Setup SSH key
        run: |
          echo "${{ secrets.EC2_KEY }}" | base64 -d > ec2-key.pem
          chmod 400 ec2-key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ec2-key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            docker rm -f app || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/node-app:${{ secrets.ROLL_NO }}
            docker run -d -p 5000:5000 --name app ${{ secrets.DOCKER_USERNAME }}/node-app:${{ secrets.ROLL_NO }}
          EOF
